{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid text-white">
        {% regroup hockey_games|dictsort:"league.name" by league.name as league_games%}
        {% for league in league_games %}
            <div class="row my-3 shadow" style="background-color: #16213E">
                {% for game in league.list %}
                    {% if forloop.first %}
                        <div class="row my-2">
                            <div class="col-md-1 border">
                                <img src="{{ game.league.logo }}" alt="pic" class="thumbnail" style="height:50px">
                            </div>
                            <div class="col-md-10 p-0">
                                <h4 style="display: inline">{{ game.league.name }}</h4><br>
                                <span class="text-muted my-0 py-0">{{ game.country.name}}</span>
                            </div>

                        </div>
                        <div class="col-md-5 rounded-pill mx-4 mb-4" style="border:2px solid #0F3460" >
                            <div class="row">
                                <div class="d-flex col-md-2 align-items-center border">
                                    {% if game.status.short == 'NS' %}
                                        {{ game.time }}
                                    {% else %}
                                        {{ game.status.short }}
                                    {% endif %}
                                </div>

                                <div class="col-md-10 border pe-4">
                                    <img src="{{ game.teams.home.logo }}" alt="{{ game.teams.home.name }}" style="height:25px; width:25px" loading="lazy">
                                        {{ game.teams.home.name }} <span class="float-end align-items-center">
                                    {% if game.status.short == 'NS' %} 0 {% else %} {{ game.scores.home }} {% endif %}</span><br>
                                    <img src="{{ game.teams.away.logo }}" alt="{{ game.teams.away.name }}" style="height:25px; width:25px" loading="lazy">
                                        {{ game.teams.away.name }} <span class="float-end align-items-center">
                                    {% if game.status.short == 'NS' %} 0 {% else %} {{ game.scores.away }} {% endif %}</span><br>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-5 rounded-pill mx-4 mb-4" style="border:2px solid #0F3460" >
                            <div class="row">
                                <div class="d-flex col-md-2 align-items-center border">
                                    {% if game.status.short == 'NS' %}
                                        {{ game.time }}
                                    {% else %}
                                        {{ game.status.short }}
                                    {% endif %}
                                </div>

                                <div class="col-md-10 border pe-4">
                                    <img src="{{ game.teams.home.logo }}" alt="{{ game.teams.home.name }}" style="height:25px; width:25px" loading="lazy">
                                        {{ game.teams.home.name }} <span class="float-end align-items-center">
                                    {% if game.status.short == 'NS' %} 0 {% else %} {{ game.scores.home }} {% endif %}</span><br>
                                    <img src="{{ game.teams.away.logo }}" alt="{{ game.teams.away.name }}" style="height:25px; width:25px" loading="lazy">
                                        {{ game.teams.away.name }} <span class="float-end align-items-center">
                                    {% if game.status.short == 'NS' %} 0 {% else %} {{ game.scores.away }} {% endif %}</span><br>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}