{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid text-white">

            <div class="row my-3 shadow d-flex justify-content-center" style="background-color: #16213E">
                <div class="row my-2 mb-4">
                    <div class="col-md-3 mx-4">
                        <img src="{{ game.league.logo }}" alt="pic" class="thumbnail" style="height:50px">
                        <br>

                        <h4 style="display: inline">{{ game.league.name }}</h4><br>
                        <span class="text-muted my-0 py-0">{{ game.country.name}}</span>
                    </div>
                </div>
                {% for game in hockey_games %}
                    <div class="col-md-8 rounded-pill mb-4 py-3" style="border:2px solid #0F3460" >
                        <div class="row d-flex justify-content-center">
                            <div class="pt-2 col-md-1 text-center border d-flex justify-content-center align-items-center">
                                <div>
                                    <p class="border">
                                        {% if game.status.short == 'NS' %}
                                            {{ game.time }}
                                        {% elif game.status.short == 'BT' %}
                                             INT
                                        {% elif game.status.short == 'FT' %}
                                            END
                                        {% else %}
                                            {{ game.status.short }} <br>
                                            {{ game.timer }}:00
                                        {% endif %}
                                    </p>
                                </div>

                            </div>

                            <div class="col-md-9 pe-4 py-2">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-1">
                                        <img src="{{ game.teams.home.logo }}" alt="{{ game.teams.home.name }}" class="img-fluid bg-transparent border-0" loading="lazy">
                                    </div>
                                    <div class="col-9 d-flex align-items-center fs-5">
                                        {{ game.teams.home.name }}
                                    </div>
                                    <div class="col-1 d-flex align-items-center fs-5">
                                        {% if game.status.short == 'NS' %} 0 {% else %} {{ game.scores.home }} {% endif %}<br>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 col-sm-1 col-1">
                                        <img src="{{ game.teams.away.logo }}" alt="{{ game.teams.away.name }}" class="img-thumbnail bg-transparent border-0" loading="lazy">
                                    </div>
                                    <div class="col-9 d-flex align-items-center fs-5">
                                        {{ game.teams.away.name }}
                                    </div>
                                    <div class="col-1 d-flex align-items-center fs-5">
                                        {% if game.status.short == 'NS' %} 0 {% else %} {{ game.scores.away }} {% endif %}<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}